################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/STEG/.vs/STEG/v16
/STEG/STEG.Console/obj/Debug
