@model REM.Web.Models.MeteosListViewModel

@{
    ViewBag.Title = "Index";
}

<br />
<br />
<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">Index</div>
        </div>

        <div class="panel-body">
            @using (Ajax.BeginForm("Index", "Meteos", new AjaxOptions
            {
                HttpMethod = "Post",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "result",
                LoadingElementId = "myLoader"
            }, new { autocomplete = "off" }))
            {
                <div class="row">
                    <div class="col-md-8">
                        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { placeholder = "Temps, Irradiance, Temperature,...", @class = "form-control" })
                    </div>
                    <div class="col-md-4 text-right">
                        <input type="submit" value="Chercher" class="btn btn-primary" />
                        @Ajax.ActionLink("Annuler", "Index", "Users", new AjaxOptions
                       {
                           HttpMethod = "Post",
                           InsertionMode = InsertionMode.Replace,
                           UpdateTargetId = "result",
                           LoadingElementId = "myLoader"

                       },
                        new
                        {
                            @class = "btn btn-default",
                            onclick = "ClearAndSubmitForm(this);"
                        })
                    </div>
                </div>
            }
        </div>

        <div id="result">
            @Html.Partial("_MeteosList", Model)
        </div>
    </div>
</div>



