@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>



<address>
    Pour me contacter:<br />
    <strong>Appelez:</strong>
    <abbr title="Phone">97.130.262</abbr><br />
    Ou par:<br />
        <strong>E-mail:</strong>montassar.baccouche@yahoo.fr<br />

</address>